{% extends "layout.html" %} {# Indica que esta plantilla extiende a base.html #}

{% block title %}Página de Inicio{% endblock %} {# Sobrescribe el título de la página #}

{% block content %} {# Define el contenido para el bloque 'content' de base.html #}
    <h2>Bienvenido a la Página de Inicio</h2>
<div class="container-cards"> 
    <div class="card">
        <div class="card-body">
            <div class="card-image"> <img href=" "></div>
            <h5 class="card-title">Título de la Tarjeta</h5>
            <p class="card-text">Este es un ejemplo de tarjeta que puedes personalizar.</p>
        </div>
    </div>
    <div class="card2">
        <div class="card-body2">
            <div class="card-image2"> <img href=" "></div>
            <h5 class="card-title2">Título de la Tarjeta</h5>
            <p class="card-text2">Este es un ejemplo de tarjeta que puedes personalizar.</p>
        </div>
    </div>
</div>
{% endblock %}