<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio Web{% endblock %}</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <header>
        <div class="tituloHeader">
            <div style="width: 100px; padding-top: 20px;"><img height="120px" width="120px" src="static\logoempresa.png" hreft=""></div>
            <h1 >Emplify</h1>
        </div>
        <nav class="enlaces">
            <a href="/">Quienes somos</a>
            <a href="/acerca">Empleadores</a>
            <a href="/contacto">Contacto</a>
        </nav>

        <button class="hamburger-menu" aria-label="Menú de navegación">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </header>

    <main>
        {% block content %}{% endblock %} {# Este es el bloque donde se insertará el contenido de cada página #}
    </main>

    <footer>
        <p>&copy; 2025 Mi Compañía. Todos los derechos reservados.</p>
    </footer>
    <script src="static/script.js"></script>

</body>
</html>